@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --color-red: #F03C42;
    --color-yellow: #FFF964;
    --color-white: #FFFFFF;
    --br-light-gray: #E5E5E5;
    --text-gray: #5E5E5E;
    --text-green: #02B814;

}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-red);
    height: 70px;
    display: flex;
    align-items: center;
}

nav h1 {
    text-align: center;
    color: var(--color-yellow);
    font-size: 24px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#pizzas {
    padding: 20px 0px;
    background-color: var(--br-light-gray);
}

.pizza-card {
    display: flex;
    margin: 20px 0;
}

.pizza-card img {
    width: 200px;
    border-radius: 12px 0px 0px 12px;
}

.pizza-card-description {
    background-color: var(--color-white);
    border-radius: 0px 12px 12px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza-card-description h3 {
    color: var(--tex-gray);
    font-size: 24px;
}

.pizza-card-description p {
    color: var(--tex-gray);
    font-size: 14px;
}

.pizza-card-description h4 {
    color: var(--text-green);
    font-size: 24px;
}

#comments {
    padding: 40px 0px;
}

#comments h2 {
    text-align: center;
    font-size: 32px;
    color: var(--text-gray);
}

